## Catkin/catkin_tools build outputs
build/
build_isolated/
devel/
devel_isolated/
install/
logs/

## catkin_tools metadata
.catkin_tools/
src/.catkin_tools/

## Common editor/OS junk (optional but handy)
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
src/ros_controllers/
src/rm_controllers/
src/rm_control/
src/rm_description/
src/MECANUM_DRIVE/
referee/
referee/Collision-avoidance-training-of-PPO-in-Gazebo/